In [43]:
import requests
import json
from pandas.io.json import json_normalize
import time
import pandas as pd
import numpy as np

In [23]:
r = requests.get('https://lab.isaaclin.cn/nCoV/api/overall',{'latest':0})

In [9]:
results = json.loads(r.text)['results']

In [12]:
df = json_normalize(results)

In [18]:
df.tail()

,abroadRemark,confirmedCount,confirmedIncr,curedCount,curedIncr,currentConfirmedCount,currentConfirmedIncr,deadCount,deadIncr,generalRemark,...,remark1,remark2,remark3,remark4,remark5,seriousCount,seriousIncr,suspectedCount,suspectedIncr,updateTime
1645,NaN,894,NaN,35,NaN,NaN,NaN,26,NaN,NaN,...,病毒是否变异：存在可能,疫情是否扩散：是,,,,NaN,NaN,1076,NaN,1579866640114
1646,NaN,887,NaN,35,NaN,NaN,NaN,26,NaN,NaN,...,病毒是否变异：存在可能,疫情是否扩散：是,,,,NaN,NaN,1076,NaN,1579864394844
1647,NaN,887,NaN,35,NaN,NaN,NaN,26,NaN,NaN,...,病毒是否变异：存在可能,疫情是否扩散：是,,,,NaN,NaN,1076,NaN,1579860573823
1648,NaN,887,NaN,35,NaN,NaN,NaN,26,NaN,NaN,...,病毒是否变异：存在可能,疫情是否扩散：是,,,,NaN,NaN,1075,NaN,1579857967369
1649,NaN,887,NaN,35,NaN,NaN,NaN,26,NaN,NaN,...,病毒是否变异：存在可能,疫情是否扩散：是,,,,NaN,NaN,1075,NaN,1579854581322

In [17]:
df.columns

Index(['abroadRemark', 'confirmedCount', 'confirmedIncr', 'curedCount',
       'curedIncr', 'currentConfirmedCount', 'currentConfirmedIncr',
       'deadCount', 'deadIncr', 'generalRemark', 'note1', 'note2', 'note3',
       'remark1', 'remark2', 'remark3', 'remark4', 'remark5', 'seriousCount',
       'seriousIncr', 'suspectedCount', 'suspectedIncr', 'updateTime'],
      dtype='object')

In [61]:
data = df.reindex(columns=['confirmedCount','currentConfirmedCount','curedCount', 'deadCount', 'updateTime'])

In [62]:
data.head()

   confirmedCount  currentConfirmedCount  curedCount  deadCount     updateTime
0           77782                47589.0       27527       2666  1582620948850
1           77782                47616.0       27500       2666  1582620572458
2           77782                47617.0       27499       2666  1582620445147
3           77782                47630.0       27486       2666  1582618996656
4           77782                47631.0       27485       2666  1582618682516

In [63]:
def time_format(timeNum):
    timeTemp = float(timeNum/1000)
    tupTime = time.localtime(timeTemp)
    stadardTime = time.strftime("%Y-%m-%d %H:%M:%S", tupTime)
    return stadardTime

In [64]:
data['updateTime'] = data['updateTime'].map(time_format)

In [65]:
time_full = data['updateTime'].str.split(' ', expand=True).rename(columns={0:'date',1:'time'})

In [66]:
data_full = pd.concat([data,time_full],axis=1)

In [67]:
data_full.head()

,confirmedCount,currentConfirmedCount,curedCount,deadCount,updateTime,date,time
0,77782,47589.0,27527,2666,2020-02-25 16:55:48,2020-02-25,16:55:48
1,77782,47616.0,27500,2666,2020-02-25 16:49:32,2020-02-25,16:49:32
2,77782,47617.0,27499,2666,2020-02-25 16:47:25,2020-02-25,16:47:25
3,77782,47630.0,27486,2666,2020-02-25 16:23:16,2020-02-25,16:23:16
4,77782,47631.0,27485,2666,2020-02-25 16:18:02,2020-02-25,16:18:02

In [68]:
def top(df, n=1, column='time'):
    return df.sort_values(by=column)[-n:]

In [70]:
data_top = data_full.groupby('date').apply(top)

In [74]:
data_top['currentConfirmedCount'] = data_top['confirmedCount']-data_top['curedCount']-data_top['deadCount']

In [75]:
data_top

,,confirmedCount,currentConfirmedCount,curedCount,deadCount,updateTime,date,time
date,,,,,,,,
2020-01-24,1641,897,835,36,26,2020-01-24 23:54:14,2020-01-24,23:54:14
2020-01-25,1614,1408,1327,39,42,2020-01-25 23:54:35,2020-01-25,23:54:35
2020-01-26,1589,2076,1971,49,56,2020-01-26 23:03:31,2020-01-26,23:03:31
2020-01-27,1554,2857,2719,56,82,2020-01-27 23:55:25,2020-01-27,23:55:25
2020-01-28,1532,4630,4451,73,106,2020-01-28 21:02:03,2020-01-28,21:02:03
2020-01-29,1490,6095,5843,119,133,2020-01-29 23:31:04,2020-01-29,23:31:04
2020-01-30,1465,8149,7843,135,171,2020-01-30 23:08:59,2020-01-30,23:08:59
2020-01-31,1437,9811,9384,214,213,2020-01-31 22:43:05,2020-01-31,22:43:05
2020-02-01,1400,11901,11367,275,259,2020-02-01 23:46:53,2020-02-01,23:46:53
2020-02-02,1353,14490,13752,434,304,2020-02-02 23:47:32,2020-02-02,23:47:32
2020-02-03,1309,17341,16453,527,361,2020-02-03 22:56:58,2020-02-03,22:56:58
2020-02-04,1261,20530,19386,718,426,2020-02-04 23:38:26,2020-02-04,23:38:26
2020-02-05,1209,24434,22923,1018,493,2020-02-05 23:52:29,2020-02-05,23:52:29
2020-02-06,1161,28138,26201,1373,564,2020-02-06 23:02:30,2020-02-06,23:02:30
2020-02-07,1094,31264,28874,1753,637,2020-02-07 23:23:55,2020-02-07,23:23:55
2020-02-08,1016,34673,31574,2375,724,2020-02-08 23:16:54,2020-02-08,23:16:54
2020-02-09,968,37289,33576,2900,813,2020-02-09 23:00:53,2020-02-09,23:00:53
2020-02-10,921,40262,35802,3551,909,2020-02-10 22:16:43,2020-02-10,22:16:43
2020-02-11,856,42747,37429,4301,1017,2020-02-11 23:28:23,2020-02-11,23:28:23
2020-02-12,775,44765,38583,5066,1116,2020-02-12 23:07:23,2020-02-12,23:07:23
2020-02-13,678,59907,52324,6215,1368,2020-02-13 23:51:34,2020-02-13,23:51:34
2020-02-14,602,63950,55476,7092,1382,2020-02-14 23:18:15,2020-02-14,23:18:15
2020-02-15,560,66581,56563,8494,1524,2020-02-15 22:51:06,2020-02-15,22:51:06
2020-02-16,527,68595,57165,9763,1667,2020-02-16 21:45:52,2020-02-16,21:45:52
2020-02-17,458,70644,57594,11278,1772,2020-02-17 23:43:00,2020-02-17,23:43:00
2020-02-18,392,72532,57657,13003,1872,2020-02-18 23:09:05,2020-02-18,23:09:05
2020-02-19,327,74284,57337,14938,2009,2020-02-19 22:06:22,2020-02-19,22:06:22
2020-02-20,261,74680,55837,16721,2122,2020-02-20 22:36:29,2020-02-20,22:36:29
2020-02-21,201,75571,54645,18687,2239,2020-02-21 23:11:18,2020-02-21,23:11:18
2020-02-22,144,76396,52973,21075,2348,2020-02-22 22:08:20,2020-02-22,22:08:20
2020-02-23,82,77048,51420,23183,2445,2020-02-23 22:38:25,2020-02-23,22:38:25
2020-02-24,38,77269,49666,25007,2596,2020-02-24 23:02:35,2020-02-24,23:02:35
2020-02-25,0,77782,47589,27527,2666,2020-02-25 16:55:48,2020-02-25,16:55:48

In [91]:
currentConfirmedCount = data_top[['currentConfirmedCount','date']].rename(columns={'currentConfirmedCount':'value'})
currentConfirmedCount['name'] = '现存确诊'
curedCount = data_top[['curedCount','date']].rename(columns={'curedCount':'value'})
curedCount['name'] = '累计治愈'
deadCount = data_top[['deadCount','date']].rename(columns={'deadCount':'value'})
deadCount['name'] = '累计死亡'

In [94]:
data_out = pd.concat([currentConfirmedCount,curedCount,deadCount],ignore_index=True,axis=0).reindex(columns=['name','value','date'])

In [98]:
data_out.to_csv('data_out.csv',index=False)

In [99]:
data_out

    name  value        date
0   现存确诊    835  2020-01-24
1   现存确诊   1327  2020-01-25
2   现存确诊   1971  2020-01-26
3   现存确诊   2719  2020-01-27
4   现存确诊   4451  2020-01-28
5   现存确诊   5843  2020-01-29
6   现存确诊   7843  2020-01-30
7   现存确诊   9384  2020-01-31
8   现存确诊  11367  2020-02-01
9   现存确诊  13752  2020-02-02
10  现存确诊  16453  2020-02-03
11  现存确诊  19386  2020-02-04
12  现存确诊  22923  2020-02-05
13  现存确诊  26201  2020-02-06
14  现存确诊  28874  2020-02-07
15  现存确诊  31574  2020-02-08
16  现存确诊  33576  2020-02-09
17  现存确诊  35802  2020-02-10
18  现存确诊  37429  2020-02-11
19  现存确诊  38583  2020-02-12
20  现存确诊  52324  2020-02-13
21  现存确诊  55476  2020-02-14
22  现存确诊  56563  2020-02-15
23  现存确诊  57165  2020-02-16
24  现存确诊  57594  2020-02-17
25  现存确诊  57657  2020-02-18
26  现存确诊  57337  2020-02-19
27  现存确诊  55837  2020-02-20
28  现存确诊  54645  2020-02-21
29  现存确诊  52973  2020-02-22
..   ...    ...         ...
69  累计死亡     82  2020-01-27
70  累计死亡    106  2020-01-28
71  累计死亡    133  2020-01-29
72  累计死亡    171  2020-01-30
73  累计死亡    213  2020-01-31
74  累计死亡    259  2020-02-01
75  累计死亡    304  2020-02-02
76  累计死亡    361  2020-02-03
77  累计死亡    426  2020-02-04
78  累计死亡    493  2020-02-05
79  累计死亡    564  2020-02-06
80  累计死亡    637  2020-02-07
81  累计死亡    724  2020-02-08
82  累计死亡    813  2020-02-09
83  累计死亡    909  2020-02-10
84  累计死亡   1017  2020-02-11
85  累计死亡   1116  2020-02-12
86  累计死亡   1368  2020-02-13
87  累计死亡   1382  2020-02-14
88  累计死亡   1524  2020-02-15
89  累计死亡   1667  2020-02-16
90  累计死亡   1772  2020-02-17
91  累计死亡   1872  2020-02-18
92  累计死亡   2009  2020-02-19
93  累计死亡   2122  2020-02-20
94  累计死亡   2239  2020-02-21
95  累计死亡   2348  2020-02-22
96  累计死亡   2445  2020-02-23
97  累计死亡   2596  2020-02-24
98  累计死亡   2666  2020-02-25

[99 rows x 3 columns]